    @CHARSET "UTF-8";  
      
    #numpage {  
        float:right;  
        width:80%;  
        height:30px;  
        line-height: 30px;  
        margin-top: 10px;  
    }  
      
    #numpage ul {  
        list-style-type: none;  
        text-align:center;  
    }  
      
    #numpage ul li {  
        height: 22ppx;  
        line-height: 22px;  
        margin-left: 10px;  
        float: left;  
        font-size: 12px;  
        font-weight: bold;  
        display:block;  
    }  
      
    #numbser ul li.number{  
        width: 24px;  
      
    }  
      
    #numpage ul li.text {  
        width: 60px;  
    }  
      
    #numpage ul li.disabled {  
        width:60px;  
        color: #999;  
        border: 1px solid #999;  
    }  
      
      
    #numpage ul li.textjs {  
        height: 22px;  
        line-height: 22px;  
        width: 220px;  
        text-align: left;  
        color: #333;  
        letter-spacing: 2px;  
    }  
      
    #numpage ul li.textjs span.currpage {  
        width: 30px;  
    }  
      
    #numpage ul li.textjs span.pagecount {  
        width: 50px;  
    }  
      
    #numpage ul li.textjs span.go {  
        margin-left: 5px;  
        color: #369;  
        cursor: pointer;  
    }  
      
    #numpage ul li.textjs span.skip {  
        width: 100px;  
    }  
      
    #numpage ul li.textjs input {  
        text-align: center;  
        width: 30px;  
        border: 1px solid #666;  
    }  
      
    #numpage ul li a {  
        color: #333;  
        text-decoration: none;  
        display: block;  
        border: 1px solid #666;  
    }  
      
    #numpage ul li a.number{  
        width:24px;  
        height:22px;  
    }  
      
    #number ul li a.text{  
        width:60px;  
    }  
      
      
    #numpage ul li a.select {  
        width:24px;  
        height:22px;  
        color: #369;  
        border: 1px solid #f60;  
        font-weight: bold;  
    }  
      
    #numpage ul li a:hover {  
        background: #eee;  
        color: #f60;  
        border: 1px solid #f60;  
    }  
      
      
      
      
      
      
      
    #numpage ul li select {  
        width: 60px;  
        border: 1px solid #666;  
        height: 22px;  
        line-height: 22px;  
        float: left;  
    }  